.game-background-start button {

    display: flex;
    margin: 1em 0 0 1em;
    outline: none;
    border: 0;
    padding: 0;
    float: left;
}

.game-background-start{
   
    width: 70%;
    height: 90vh;
    margin: 2em 18%;
    z-index: 1;
    position:relative; 
    text-align: center;

}

.menu-padre{
   
    width: 100%;
    height: 90vh;
    z-index:2;
    position: absolute;
 
    text-align: center;
}

.game-pause {

    background-color:#33B6EF;
    border: 5px solid gold;
    border-radius:22px;
    width: 20%;
    height:40vh;
    margin: 15em 35%;
    z-index:  2;
    position: absolute;
    text-align: center;
    opacity: 0;
    pointer-events:none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.game-pause button{
display: flex;

outline: none;
border:0;
padding: 0;

}



.show_hide {
   
    pointer-events:all;
    opacity: 1;
  }

 

 



