body{
    background-color: black;
}

.game-container{
    background-image: url("./imagenes/loading.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 90vh;
    margin: 2em 18%;
   
}

.game-background{
    background-image: url("./imagenes/loading.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    height: 90vh;
    margin: 2em 18%;
}



.main-menu{
    background-image:  url("./imagenes/loading0.png");
    background-size: contain;
    width: 30%;
    height: 40%;
    background-repeat: no-repeat;
    margin: 20% 0 0 2em;
    float:left;
    
    animation: movimiento 1s infinite linear alternate-reverse;
    

}

.barra-progreso{
    width: 50%;
    bottom: 4em;
    margin:0 5%;
    position: absolute;
}

.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}
 
button[disabled="disabled"] {
    opacity: 0.7;
}


.main-buttons{
    float:right;
    border-radius: 25px;
    width: 33%;
   
    margin: 20% 10%;
    text-align: center;
}


.main-buttons button, label{
   
    display: flex;
    margin: 1em auto;
    outline: none;
    border:0;
    padding: 0;
}

.buttons-center{
    margin: 0 auto;
}

input[type=range] {
 
    margin: 1em .5em;
    outline: none;
    border:0;
    padding: 0;
    width: 10em;
    float:left;
    
  }

#masbutton, #menosbutton{
float:left;
}

.centrar{
    margin-left: 20%;
}


@keyframes movimiento{
    from{
        background-position: top;
    }to{
        background-position: bottom;
    }
}
